.nav {
    background: #1e1e1e;
    height: 12vh;
    width: 100%;
    z-index: 10;
    position: sticky; 
    bottom: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}

.option {
    font-family: 'Montserrat', sans-serif;
    background-color: #1e1e1e;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
}

img {
    width: calc(3.5rem + 5vmin);
  }