.resultpage {
    text-align: center;
    background-color: black;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button {
    padding: 1rem 5rem;
    border-radius: 5rem;
    background-color: #1BD760;
    color: black;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1rem + 1vmin);
    font-weight: bold;
    cursor: pointer;
}

.container {
    /* display: flex; */
    column-gap: 50px;
}

.profileImg {
    object-fit: cover;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.playlistImg {
    border-radius: 20%;
    width: 50%;
}